.content-history{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-content{
    height: 8.1rem;
    width: 18rem;
    margin-block:2rem;
    border-radius: 15px;
    
}

.content-culture{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-info-geral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-attractions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 0 4rem 1rem 4rem;
    border-radius: 15px;
}